{{ $baseurl := .Site.BaseURL }}
<article class='post z-depth-1'>
    <header class='post__header'>
      <h1 class='post__title'>
        <a class='post__title-link' href='{{ .Permalink }}'> 
          {{ .Title }}
        </a>
      </h1>
      <time class='post__meta-date' datetime="2016-01-21" pubdate>
        {{ .Date.Format "Mon, Jan 2, 2006" }}
      </time>
      <ul class="post__tags">
      	{{ range .Params.tags}}
      	<li class='post__tag'>
      		<a href='{{ $baseurl }}/tags/{{ . |urlize}}' class='post__tag-link'>
      			{{.}}
      		</a>
      	</li>
      	{{end}}
      </ul>
    </header>
    <p class='post__content'>{{ .Summary }}</p>
    <footer class='post__footer'>
        <a class='post__footer-link waves-effect waves-green' href='{{ .Permalink }}'>
          Continue reading
        </a>
    </footer>
</article>
	