@import url(https://fonts.googleapis.com/css?family=Muli:400,300);
@font-face {
    font-family: 'Geomanist';
    src: url('../fonts/geomanist-regular-webfont.woff') format('woff'),
         url('../fonts/geomanist-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}